

.btncontact {
    background: hsl(340deg 100% 32%);
    border-radius: 12px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    user-select: none;
    transition: filter 600ms;
    width: 20%;
    -webkit-tap-highlight-color: transparent;
    border: 6px solid black;
    font-family: cursive;
    text-align: center;
}


.btnproject {
    background: hsl(340deg 100% 32%);
    border-radius: 12px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    user-select: none;
    transition: filter 600ms;
    width: 20%;
    -webkit-tap-highlight-color: transparent;
    border: 6px solid black;
    font-family: cursive;
    font-display: center;

}

.btneducation {
    background: hsl(340deg 100% 32%);
    border-radius: 12px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    user-select: none;
    transition: filter 600ms;
    width: 20%;
    -webkit-tap-highlight-color: transparent;
    border: 6px solid black;
    font-family: cursive;
    font-display: center;

}




.front {
    display: block;
    padding: 12px 42px;
    border-radius: 12px;
    font-size: 1.25rem;
    background: hsl(345deg 100% 47%);
    color: white;
    will-change: transform;
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.shadow {
    filter: blur(9px);
}



.edge {
    background: linear-gradient(
      to left,
      hsl(340deg 100% 16%) 0%,
      hsl(340deg 100% 32%) 8%,
      hsl(340deg 100% 32%) 92%,
      hsl(340deg 100% 16%) 100%
    );
}
  

.btncontact:hover .front {
    transform: translate(-6px);
    transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.btncontact:active .front {
    transform: translateY(-2px)
}

.btncontact:hover {
    transition: filter 250ms;
    filter: brightness(160%);    
}

.btnproject:hover .front {
    transform: translate(-6px);
    transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.btnproject:active .front {
    transform: translateY(-2px)
}

.btnproject:hover {
  transition: filter 250ms;
  filter: brightness(160%);
}

.btneducation:hover .front {
    transform: translate(-6px);
    transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.btneducation:active .front {
    transform: translateY(-2px)
}

.btneducation:hover {
    transition: filter 250ms;
    filter: brightness(160%);    
}



.contaner {
    display: flex;
    justify-content: space-evenly;
}





body {
    background-color: beige;
    background-image: url(https://e0.pxfuel.com/wallpapers/358/714/desktop-wallpaper-stefan-iordache-your-desired-developer-to-make-your-perfect-responsive-website-web-programming.jpg);
    background-size: cover;
}
